fastapi
uvicorn
langchain
langgraph
langchain-openai
python-dotenv
fastapi
uvicorn
pydantic
faiss-cpu
sentence-transformers
openai-whisper
sentence-transformers
torch 
torchaudio
faster-whisper
sounddevice